
<section id="TemplateCategory" class="ccs-doc-page">
  <article class="ccs-doc-content">
    
    <nav class="ccs-doc-path" aria-label="breadcrumbs">{{breadcrumbs}}</nav>

    <header class="ccs-doc-header">
      <h1 class="ccs-doc-heading">{{category.name}}</h1>
      {{#if category.description}}<p class="ccs-doc-description">{{category.description}}</p>{{/if}}
    </header>

    {{#each sections}}
      <div class="ccs-section">
        <h2 class="ccs-title"><a href="{{url}}">{{name}}</a></h2>
        {{#if articles}}
          <section class="ccs-doc-block">
          <ul class="ccs-list">
            {{#each articles}}<li {{#if promoted}}class="promoted"{{/if}}><a href="{{url}}" {{#if internal}}class="internal"{{/if}}>{{title}}</a></li>{{/each}}
          </ul>
          {{#if more_articles}}<a href="{{url}}" class="ccs-btn-subtle" role="button">{{t 'show_all_articles' count=article_count}}</a>{{/if}}
          </section>
        {{/if}}
      </div>
    {{else}}
      <a href="{{category.url}}" class="ccs-btn-subtle" role="button">{{t 'empty'}}</a>
    {{/each}}
  
  </article>
</section>