<style> #AppSearch {display: none} </style>

<section id="TemplateHome" class="ccs-doc-page-full">
  
  <header class="ccs-hero">
    <div class="ccs-hero-inner">
      <h1 class="ccs-hero-heading">How can we help?</h1>
      {{search submit=false instant=settings.instant_search}}
    </div>
  </header>

  <section class="ccs-doc-content">
    <section class="ccs-doc-section">
      <ul class="ccs-doc-blocks">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li><a href='{{url}}'><p class="ccs-doc-title">{{name}}</p></a></li>
          {{else}}
            {{#each sections}}
              <li>
                <a href='{{url}}'>
                  {{#is id 360008463631}}<img class="ccs-ico" src="{{asset 'icon-launch.svg'}}" />{{/is}}
                  {{#is id 360008355672}}<img class="ccs-ico" src="{{asset 'icon-reader.svg'}}" />{{/is}}
                  {{#is id 360008355712}}<img class="ccs-ico" src="{{asset 'icon-faqs.svg'}}" />{{/is}}
                  {{#is id 360008463611}}<img class="ccs-ico" src="{{asset 'icon-text.svg'}}" />{{/is}}
                  {{#is id 360008355692}}<img class="ccs-ico" src="{{asset 'icon-teacher.svg'}}" />{{/is}}
                  <p class="ccs-doc-title">{{name}}</p>
                  <p class="ccs-doc-desc">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
    {{#if promoted_articles}}
    <section class="ccs-section">
      <h2 class="ccs-doc-title">{{t 'promoted_articles'}}</h2>
      <ul class="ccs-doc-list">
        {{#each promoted_articles}}<li><a href="{{url}}" {{#if internal}}class="internal"{{/if}}>{{title}}</a></li>{{/each}}
      </ul>
    </section>
    {{/if}}
  </div>
</div>

