


<section id="TemplateSection" class="ccs-doc-page">
  <article class="ccs-doc-content">
    
    <nav class="ccs-doc-path" aria-label="breadcrumbs">{{breadcrumbs}}</nav>
    
    <header class="ccs-doc-header">
      <h1 class="ccs-doc-heading">{{section.name}}</h1>
      {{#if section.description}}<p class="ccs-doc-description">{{section.description}}</p>{{/if}}
    </header>
    
    {{#if section.sections}}
    <div class="ccs-doc-body">
      <h2 class="ccs-doc-title">Table of Contents</h2>
      <ul class="ccs-doc-list">
        {{#each section.sections}}<li><a href="{{url}}" class="{{#is id ../section.id}}active{{/is}}">{{name}}</a></li>{{/each}}
      </ul>
    </div>  
    {{/if}}
    
  </article>
  
  {{pagination}}
</section>

<aside class="ccs-doc-nav" role="navigation">
  
  {{#if section.articles}}
  <section class="ccs-doc-block">
    <p class="ccs-doc-title">{{t 'articles_in_section'}}</p>
    <nav>
      {{#each section.articles}}
      <a href="{{url}}" {{#if promoted}}class="promoted"{{/if}}>{{title}}</a>
      {{/each}}
    </nav>
  </section>
  {{else}}
  {{/if}}
  
  {{#if settings.show_recently_viewed_articles}}
    {{recent_articles}}
  {{/if}} 
   
</aside>




