
<nav id="ArticlePath" aria-label="breadcrumbs">
  {{breadcrumbs}}
</nav>
<section id="ArticleContent">
  <article>
    <header class="ccs-doc-header">
      <h1 class="ccs-text-heavy{{#if article.internal}} internal{{/if}}">{{article.title}}</h1>
        {{!-- {{#if settings.show_article_author}}
          <div class="avatar article-avatar">
            {{#if article.author.agent}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="icon-agent">
                <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
              </svg>
            {{/if}}
            <img src="{{article.author.avatar_url}}" alt="" class="user-avatar"/>
          </div>
        {{/if}} --}}
        <div class="ccs-doc-meta">
          {{#if settings.show_article_author}}
            {{!-- <span class="ccs-doc-author">{{#link 'user_profile' id=article.author.id}}{{article.author.name}}{{/link}}</span> --}}
            <span class="ccs-title-subtle">
              {{t 'updated'}} <span style="opacity: 0.6">&bull;</span> {{#is article.created_at article.edited_at}}<time>{{date article.created_at timeago=true}}{{else}}{{date article.edited_at timeago=true}}</time>{{/is}}
            </span>
          {{/if}}
        </div>
    </header>
    
    
    <section class="ccs-doc-content">
      <div class="ccs-doc-body">
        {{article.body}}
      </div>
      {{#if attachments}}
      <div class="ccs-doc-attachments">
        <ul class="ccs-doc-list">
          {{#each attachments}}
            <li>
              <i class="ccs-icons">attach_file</i><a href="{{url}}" target="_blank">{{name}}</a>
              <div class="ccs-file-meta">
                <span class="ccs-file-info">{{size}}</span><a href="{{url}}" target="_blank" class="ccs-file-link">Download</a>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </section>

    <hr>

    <footer class="ccs-doc-footer">
      {{#with article}}
        <div class="ccs-doc-votes">
          <p><b>{{t 'was_this_article_helpful'}}</b></p>
          <div class="btn-group" role="group" aria-label="votes">
            {{vote 'up' role='radio' class='ccs-btn-up ccs-btn-subtle' selected_class="button-primary"}}
            {{vote 'down' role='radio' class='ccs-btn-down ccs-btn-subtle' selected_class="button-primary"}}
          </div>
          <p><small>{{vote 'label' class='article-vote-label'}}</small></p>
        </div>
      {{/with}}
      <br>
      <small><p class="article-more-questions">{{request_callout}}</p></small>
      <br>
      <a class="ccs-btn-top" id="AppTop" aria-label="jump" href="#top"></a>
    </footer>

  </article>
</section>


<aside id="ArticleMenu" role="navigation" aria-labelledby="section-articles-title">
  {{#if settings.show_articles_in_section}}
    <p class="ccs-title-subtle">{{t 'articles_in_section'}}</p>
    <nav>
      {{#each section.articles}}
      <a href="{{url}}" class="{{#is id ../article.id}}active{{/is}}">{{title}}</a>
      {{/each}}
    </nav>
    {{#if section.more_articles}}<a href="{{section.url}}" class="ccs-btn-subtle" role="button"><span>{{t 'see_more'}}</span></a>{{/if}}
  {{/if}}
  
  {{#if settings.show_articles_in_section}}
  {{#if settings.show_recently_viewed_articles}}
  <hr> 
  {{/if}}
  {{/if}}
  
  {{#if settings.show_recently_viewed_articles}}
    {{recent_articles}}
  {{/if}}
    
  
  <!-- 
  {{#if settings.show_related_articles}}
  <hr>
    {{related_articles}}
  {{/if}}
  -->

</aside>


