
<section class="page-header">
  <div class="page-header-inner">
    <nav class="sub-nav">
      {{breadcrumbs}}
    </nav>
    <div class="page-header-info">
      <h1>
        {{article.title}}{{#if article.internal}}<i class="material-icons">lock</i>{{/if}}
      </h1>
      <ul class="page-header-meta">
        {{#is article.created_at article.edited_at}}
          <li class="meta-data">{{date article.created_at timeago=true}}</li>
          {{else}}
          <li class="meta-data">{{date article.edited_at timeago=true}}</li>
          <li class="meta-data">{{t 'updated'}}</li>
        {{/is}}
      </ul>
      {{#if settings.show_follow_article}}
        <div class="page-header-subscribe">{{subscribe}}</div>
      {{/if}}
      {{#if section.description}}
        <p class="page-header-description">{{section.description}}</p>
      {{/if}}
    </div>
  </div>
</section>

<div class="container article-page">
  <div class="article-container" id="article-container">
    <aside class="article-sidebar" aria-labelledby="section-articles-title">

      {{#if settings.show_articles_in_section}}
        <div class="collapsible-sidebar">
          <button class="collapsible-sidebar-toggle" type="button" aria-labelledby="section-articles-title" aria-expanded="false">
            <svg class="collapsible-sidebar-toggle-icon chevron-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"></path>
            </svg>
            <svg class="collapsible-sidebar-toggle-icon x-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"></path>
            </svg>
          </button>
          <span class="collapsible-sidebar-title sidenav-title" id="section-articles-title">{{t 'articles_in_section'}}</span>
          <div class="collapsible-sidebar-body">
            <ul>
              {{#each section.articles}}
                <li><a class="sidenav-item {{#is id ../article.id}}current{{/is}}" href="{{url}}">{{title}}</a></li>
              {{/each}}
            </ul>
            {{#if section.more_articles}}
              <a class="article-sidebar-item" href="{{section.url}}">{{t 'see_more'}}</a>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </aside>

    <article class="article" id="main-content">

      <section class="article-info">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>
          <div class="article-attachments">
            <ul class="attachments">
              {{#each attachments}}
                <li class="attachment-item">
                  <div class="attachment-button">
                    <i class="attachment-icon material-icons">attachment</i>
                    <a href="{{url}}" target="_blank">{{name}}</a>
                  </div>
                  <div class="attachment-meta meta-group"><span class="attachment-meta-item meta-data">{{size}}</span><a class="attachment-meta-item meta-data" href="{{url}}" target="_blank">Download</a></div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </section>
      <footer>
        <div class="article-footer"></div>

        {{#with article}}
          <div class="article-votes"><span class="article-votes-question" id="article-votes-label">{{t 'was_this_article_helpful'}}</span>
            <div class="article-votes-controls" role="group" aria-labelledby="article-votes-label">
              {{vote 'up' role='radio' class='button article-vote article-vote-up' selected_class="button-primary"}}
              {{vote 'down' role='radio' class='button article-vote article-vote-down' selected_class="button-primary"}}
            </div>
            <small class="article-votes-count">{{vote 'label' class='article-vote-label'}}</small>
          </div>
        {{/with}}

        <!-- div class="article-more-questions">{{request_callout}}</div -->

        <div class="article-return-to-top">
          <a href="#article-container">
            {{t 'return_to_top'}}
            <svg class="article-return-to-top-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"></path>
            </svg>
          </a>
        </div>

      </footer>
      <div class="article-relatives">

        {{#if settings.show_recently_viewed_articles}}
          {{recent_articles}}
        {{/if}}

        {{#if settings.show_related_articles}}
          {{related_articles}}
        {{/if}}

      </div>
    </article>
  </div>
</div>
