
<section id="TemplateArticle" class="ccs-doc-page">
  <article class="ccs-doc-content">

    <nav class="ccs-doc-path" aria-label="breadcrumbs">{{breadcrumbs}}</nav>

    <header class="ccs-doc-header">
      <h1 class="ccs-doc-heading{{#if article.internal}} internal{{/if}}">{{article.title}}</h1>
      {{#if settings.show_article_author}}
      <div class="ccs-doc-details">
        <div class="ccs-doc-meta">
          <span class="ccs-doc-modified">{{t 'updated'}} <span style="opacity: 0.6">&bull;</span> {{#is article.created_at article.edited_at}}<time>{{date article.created_at timeago=true}}{{else}}{{date article.edited_at timeago=true}}</time>{{/is}}</span>
        </div>
      </div>
      {{/if}}
    </header>


    <div class="ccs-doc-body">
      {{article.body}}

      {{#if attachments}}
      <div class="ccs-doc-attachments">
        <ul class="ccs-doc-list">
          {{#each attachments}}
            <li>
              <i class="ccs-icons">attach_file</i>
              <a href="{{url}}" target="_blank">{{name}}</a>
              <span class="ccs-file-info">{{size}}</span>
              <a href="{{url}}" target="_blank" class="ccs-file-link">Download</a>
            </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>


    <footer class="ccs-doc-footer">
      {{#with article}}
        <div class="ccs-doc-votes">
          <p><b>{{t 'was_this_article_helpful'}}</b></p>
          <div class="btn-group" role="group" aria-label="votes">
            {{vote 'up' role='radio' class='ccs-btn-up' selected_class="selected"}}
            {{vote 'down' role='radio' class='ccs-btn-down' selected_class="selected"}}
          </div>
          <p><small>{{vote 'label' class='article-vote-label'}}</small></p>
        </div>
      {{/with}}
      <br>
      <small><p class="ccs-doc-questions">{{request_callout}}</p></small>
      <br>
    </footer>
  </article>
</section>


<aside class="ccs-doc-nav" role="navigation">
  {{#if settings.show_articles_in_section}}
    <section class="ccs-doc-block">
    <p class="ccs-doc-title">{{t 'articles_in_section'}}</p>
    <nav>
      {{#each section.articles}}
      <a href="{{url}}" class="{{#is id ../article.id}}active{{/is}}">{{title}}</a>
      {{/each}}
    </nav>
    {{#if section.more_articles}}<br><a href="{{section.url}}" class="ccs-btn-subtle" role="button">{{t 'see_more'}}</a>{{/if}}
    </section>
  {{/if}}


  {{#if settings.show_recently_viewed_articles}}
    {{recent_articles}}
  {{/if}}


  {{#if settings.show_related_articles}}
    {{related_articles}}
  {{/if}}

</aside>

<a id="AppTop" class="ccs-btn-top" aria-label="jump" href="#top"></a>
