<style>.search-container {display: block !important}</style>
<div id="ccs-page" class="container">
  <div id="ccs-page--wrapper" class="section-container">
    <section id="main-content" class="section-content">
      <div id="ccs-page--title" class="page-header"><h1>{{t 'oops'}}</h1></div>
      <div id="ccs-page--content">
        {{#is error 'unauthorized'}}
          <h2>{{link 'sign_in'}}</h2>
          <img src="{{asset 'error-403-locked.svg'}}" />
        {{/is}}

        {{#is error 'forbidden'}}
          <h2>{{t 'not_authorized'}}</h2>
          <img src="{{asset 'error-500-mistake.svg'}}" />
        {{/is}}

        {{#is error 'not_found'}}
          <h2>{{t 'nonexistent_page'}}</h2>
          <p>{{t 'mistyped_address_or_moved_page'}}</p>
          <img src="{{asset 'error-404-missing.svg'}}" />
        {{/is}}

        {{#link 'help_center'}}
          <p>{{t 'back_to_homepage'}}</p>
        {{/link}}
      </div>
    </section>
  </div>
</div>