<div class="error-page" id="main-content">
  <h1>{{t 'oops'}}</h1>{{#is error 'unauthorized'}}
    <p>{{link 'sign_in'}} <br /></p><img src="{{asset 'error-403-locked.svg'}}" />
  {{/is}}
  {{#is error 'forbidden'}}
    <p>{{t 'not_authorized'}} <br /></p><img src="{{asset 'error-500-mistake.svg'}}" />
  {{/is}}
  {{#is error 'not_found'}}
    <p>{{t 'nonexistent_page'}} <br /></p>
    <p>{{t 'mistyped_address_or_moved_page'}} <br /></p><img src="{{asset 'error-404-missing.svg'}}" />
  {{/is}}
  {{#link 'help_center'}}
  <p>{{t 'back_to_homepage'}} <br /></p>{{/link}}
</div>
