

<section id="ArticleContent" style="padding-top:1.6rem">


  <h1>{{t 'oops'}}</h1>
  
  <br>
  {{#is error 'unauthorized'}}
    <p>{{link 'sign_in'}}</p>
    <img src="{{asset 'error-403-locked.svg'}}" />
  {{/is}}

  {{#is error 'forbidden'}}
    <p>{{t 'not_authorized'}}</p>
    <img src="{{asset 'error-500-mistake.svg'}}" />
  {{/is}}

  {{#is error 'not_found'}}
    <p><b>{{t 'nonexistent_page'}}</b></p>
    <p>{{t 'mistyped_address_or_moved_page'}}</p>
    <img src="{{asset 'error-404-missing.svg'}}" />
  {{/is}}

  {{#link 'help_center'}}
    <p>{{t 'back_to_homepage'}}</p>
  {{/link}}


</section>
