<a id="top" name="top"></a>
<div id="AppLayout">

  <aside id="AppOverlay" class="overlay">
    <div class="inner">
      <a id="SearchClose" class="ccs-btn-close" href="javascript(0)" title="close">×</a>
      {{search submit=true instant=settings.instant_search placeholder='Keyword or Phrase'}}
    </div>
  </aside>

  <section id="AppHeader">
    <header class="inner">
      <div id="AppBranding">
        <button id="AppNavToggle" onclick="toggleDrawer()"></button>
        <a id="AppLogo" href="/hc/en-us"><img src="{{asset 'content-solutions-dark.svg'}}" /></a>
        <p id="AppProduct"><span>Extranet Help</span></p>
      </div>
      <div id="AppActions">
        <a href="/hc/en-us/requests/new" class="ccs-btn-contact">Contact Support</a>
        <a id="SearchOpen" href="javascript:(0)" class="ccs-btn-search"></a>
      </div>
    </header>
  </section>

  <section id="AppNav">
    <nav class="inner">
      <a href="/hc/en-us/sections/360008463631-Quick-Start-Guide"><img class="ccs-glyph" src="{{asset 'icon-launch.svg'}}" />Quick Start Guide</a>
      <a href="/hc/en-us/sections/360008355672-Documentation"><img class="ccs-glyph" src="{{asset 'icon-reader.svg'}}" /> Documentation</a>
      <a href="/hc/en-us/sections/360008463611-Release-Notes"><img class="ccs-glyph" src="{{asset 'icon-text.svg'}}" /> Release Notes</a>
      <a href="/hc/en-us/sections/360008355692-Technical-Bulletin"><img class="ccs-glyph" src="{{asset 'icon-teacher.svg'}}" /> Technical Bulletin</a>
      <a href="/hc/en-us/sections/360008355712-FAQ"><img class="ccs-glyph" src="{{asset 'icon-faqs.svg'}}" /> FAQs</a>
    </nav>
  </section>

  <section id="AppPage">
  <a href="#content" tabindex="1" style="display:none">{{t 'skip_navigation' }}</a>
  <div class="inner">

