<style> 
  #AppActions .ccs-btn-search, #AppNav { display: none }
  #AppLayout { min-height: calc(100vh - 4.0rem) }
  #AppLayout main[role=main] { flex-direction: column; background: white; }
  #AppPage { margin-top: 0 }
  #AppPage .inner { max-width: 100% }
  .ccs-doc-content, .ccs-hero-inner { margin: 0 auto; max-width: calc(1440px - 2rem); width: 100% }
  .search { max-width: 480px; margin-left: 0 }
  .ccs-doc-activity { margin: 0 1.6rem 3.2rem; }
</style>

<header id="TemplateHome" class="ccs-hero">
  <div class="ccs-hero-inner">
    <h1 class="ccs-hero-heading">How can we help?</h1>
    {{search submit=false instant=settings.instant_search}}
  </div>
</header>

<section class="ccs-doc-page-full">
  
  <section class="ccs-doc-content">
    <section class="ccs-doc-section">
      <ul class="ccs-block-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li><a href='{{url}}'><p class="ccs-doc-title">{{name}}</p></a></li>
          {{else}}
            {{#each sections}}
              <li>
                <a href='{{url}}'>
                  {{#is id 360008463631}}<img class="ccs-glyph" src="{{asset 'icon-launch.svg'}}" />{{/is}}
                  {{#is id 360008355672}}<img class="ccs-glyph" src="{{asset 'icon-reader.svg'}}" />{{/is}}
                  {{#is id 360008355712}}<img class="ccs-glyph" src="{{asset 'icon-faqs.svg'}}" />{{/is}}
                  {{#is id 360008463611}}<img class="ccs-glyph" src="{{asset 'icon-text.svg'}}" />{{/is}}
                  {{#is id 360008355692}}<img class="ccs-glyph" src="{{asset 'icon-teacher.svg'}}" />{{/is}}
                  <p class="ccs-block-title">{{name}}</p>
                  <p class="ccs-block-desc">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
    
    {{#if settings.show_recent_activity}}
      <section class="ccs-doc-activity">
        {{recent_activity}}
      </section>
    {{/if}}
    
    {{#if promoted_articles}}
      <section class="ccs-doc-articles">
        <h2 class="ccs-doc-title">{{t 'promoted_articles'}}</h2>
        <ul class="ccs-doc-list">
          {{#each promoted_articles}}<li><a href="{{url}}" {{#if internal}}class="internal"{{/if}}>{{title}}</a></li>{{/each}}
        </ul>
      </section>
    {{/if}}
  
  </div>
</div>

