

<section id="TemplateSection" class="ccs-doc-page">
  <article class="ccs-doc-content">
    
    <nav class="ccs-doc-path" aria-label="breadcrumbs">{{breadcrumbs}}</nav>
    
    <header class="ccs-doc-header">
      <h1 class="ccs-doc-heading">{{section.name}}</h1>
      {{#if section.description}}<p class="ccs-doc-description">{{section.description}}</p>{{/if}}
    </header>
  
    <div class="row"> {{!!- было section-tree --}}
    {{#if section.sections}}
      {{#each section.sections}}
        <div class="sm-12 md-6 lg-4 col" style="padding: 0 0 3.2rem">
          <h3>{{name}}</h3>
          {{#if articles}}
            <ul>
              {{#each articles}}
                <li class="{{#if promoted}}promoted{{/if}}">
                  <a href="{{url}}" class="{{#if internal}}internal{{/if}}">{{title}}</a>
                </li>
              {{/each}}
            </ul>
          {{#if more_articles}}
            <br><a href="{{url}}" class="ccs-btn-subtle">{{t 'show_all_articles' count=article_count}}</a>
            {{else}}
            <br><a href="{{url}}" class="ccs-btn-subtle">View Section</a>
          {{/if}}
          {{/if}}
        </div>
      {{/each}}
    {{/if}}
    </div>
    
  </article>
  
  {{pagination}}
</section>

<aside class="ccs-doc-nav" role="navigation">
  
  {{#if section.articles}}
  <section class="ccs-doc-block">
    <p class="ccs-doc-title">{{t 'articles_in_section'}}</p>
    <nav>
      {{#each section.articles}}
      <a href="{{url}}" {{#if promoted}}class="promoted"{{/if}}>{{title}}</a>
      {{/each}}
    </nav>
  </section>
  {{else}}
  {{/if}}
  
  {{#if settings.show_recently_viewed_articles}}
    {{recent_articles}}
  {{/if}} 
   
</aside>


