

<nav id="SectionPath" aria-label="breadcrumbs">
  {{breadcrumbs}}
</nav>

<section id="SectionContent">
  <article>
    
    <header class="ccs-doc-header">
      <h1 class="ccs-text-heavy">{{section.name}}</h1>
      {{#if section.description}}
        <p class="ccs-doc-description">{{section.description}}</p>
      {{/if}}
      {{#if section.sections}}
    </header>
    
    <section>
      <p class="ccs-title-subtle">Table of Contents</p>
      <ul class="ccs-doc-list">
        {{#each section.sections}}<li><a href="{{url}}" class="{{#is id ../section.id}}active{{/is}}">{{name}}</a></li>{{/each}}
      </ul>
    </section>  
    {{/if}}
  </article>
  
  {{pagination}}
</section>

<aside id="SectionMenu" role="navigation" aria-label="Section List">
  {{#if section.articles}}
  <p class="ccs-title-subtle">{{t 'articles_in_section'}}</p>
    <nav>
    {{#each section.articles}}
    <a href="{{url}}" title="{{#if promoted}}Promoted Article{{/if}}" class="{{#if promoted}}internal{{/if}}">{{title}}</a>
    {{/each}}
    </nav>
  {{else}}
  {{/if}}
  {{#if section.articles}}
    {{#if settings.show_recently_viewed_articles}}
      <hr> 
    {{/if}}
  {{/if}}
  {{#if settings.show_recently_viewed_articles}}
    {{recent_articles}}
  {{/if}}  
</aside>




