<section class="section hero hero-small">
  <header class="hero-inner">
    <div class="hero-inner-search">
      {{search submit=false scoped=settings.scoped_kb_search class="search search-full" placeholder="Search knowledge base..."}}
    </div>
  </header>
</section>

<div class="container">

  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>

  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
        {{!-- <h1>{{category.name}}</h1> --}}
        {{#if category.description}}
        <p class="page-header-description">{{category.description}} </p>
        {{/if}}
      </header>





        <section class="blocks">
          <ul class="blocks-list">
            {{#each sections}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                {{#is name 'DataSource Introduction'}}<i class="fas fa-newspaper fa-2x"></i>{{/is}}
                {{#is name 'Integration Guide'}}<i class="fas fa-clipboard-list fa-2x"></i>{{/is}}
                <h2 class="blocks-item-title">{{name}}</h2>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
            {{/each}}
          </ul>
        </section>


    </div>
  </div>
</div>
