
<section class="page-header">
  <div class="page-header-inner">
    <nav class="sub-nav">
      {{breadcrumbs}}
    </nav>
    <div class="page-header-info">
      <h1>{{section.name}}</h1>
      {{#if settings.show_follow_section}}
        <div class="page-header-subscribe">{{subscribe}}</div>
      {{/if}}
      {{#if section.description}}
        <p class="page-header-description">{{section.description}}</p>
      {{/if}}
    </div>
  </div>
</section>

<section id="TemplateSection" class="ccs-doc-page">
  <article class="ccs-doc-content">

   {{!-- remove breadcrumbs
   <nav class="ccs-doc-path" aria-label="breadcrumbs">{{breadcrumbs}}</nav>
   --}}

  {{!--  <header class="ccs-doc-header">
      <h1 class="ccs-doc-heading">{{section.name}}</h1>
      {{#if section.description}}<p class="ccs-doc-description">{{section.description}}</p>{{/if}}
    </header>
--}}
<div class="row">
{{#if section.sections}}
  <div class="QSG-Section">
   {{#each section.sections}}
    {{#is id 360008463891}} {{!-- will display only sub section with datasource introdaction (main sub section)--}}
    <section class="section">
       <h3 class="section-tree-title" style="margin-bottom:5px;!important;">
         {{name}}  {{!--removed links - original code  <a href="{{url}}">{{name}}</a> --}}
       </h3>
       {{#if articles}}
          <ul class="article-list">
           {{#each articles}}
             <li class="{{#if promoted}} article-promoted{{/if}}">
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
                <a href="{{url}}" class="article-list-link">{{title}}</a>
              {{#if internal}}
                 <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
             </li>
            {{/each}}
           </ul>
       {{/if}}
     </section>
    {{/is}}
   {{/each}}
  </div>
{{/if}}


{{!-- pull up data from the main artical in the the main sub section--}}
{{#if section.sections}}
  <div class="section-tree">
   {{#each section.sections}}
    {{#is id 360008463891}}
     <section class="section">
       {{#if articles}}
          <ul class="article-list">
           {{#each articles}}
            {{#is @index 0}}{{body}} {{!-- displaying the article from the section 360008463891 from the top--}}
             <li class="{{#if promoted}} article-promoted{{/if}}">
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
                <a href="{{url}}" class="article-list-link">{{title}}</a>
              {{#if internal}}
                 <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
             </li>
            {{/is}}
            {{/each}}
           </ul>
            {{#if more_articles}}
              <a href="{{url}}" class="see-all-articles">{{t 'show_all_articles' count=article_count}}</a>
            {{/if}}
       {{/if}}
     </section>
    {{/is}}
   {{/each}}
  </div>
{{/if}}
</div>



   {{!-- hid the original code from Valerie - will be useful for seting styles

    <div class="row">
    {{#if section.sections}}
      {{#each section.sections}}
        <div class="sm-12 md-6 lg-4 col" style="padding: 0 0 3.2rem">
          <h3>{{name}}</h3>
          {{#if articles}}
            <ul>
              {{#each articles}}
                <li class="{{#if promoted}}promoted{{/if}}">
                  <a href="{{url}}" class="{{#if internal}}internal{{/if}}">{{title}}</a>
                </li>
              {{/each}}
            </ul>
          {{#if more_articles}}
            <br><a href="{{url}}" class="ccs-btn-subtle">{{t 'show_all_articles' count=article_count}}</a>
            {{else}}
            <br><a href="{{url}}" class="ccs-btn-subtle">View Section</a>
          {{/if}}
          {{/if}}
        </div>
      {{/each}}
    {{/if}}
  </div>
 --}}


  <!--
  {{#if section.sections}}
   <ul class="ccs-section-list">
     {{#each section.sections}}
     <li><a href="{{url}}">{{name}}</a><i class="material-icons">chevron_right</i></li>
     {{/each}}
   </ul>
   <br>
  {{/if}}
  -->


  </article>

  {{pagination}}
</section>

<aside class="ccs-doc-nav" role="navigation">


  {{#if section.articles}}
  <section class="ccs-doc-block">
    <p class="ccs-doc-title">{{t 'articles_in_section'}}</p>
    <nav>
      {{#each section.articles}}
      <a href="{{url}}" {{#if promoted}}class="promoted"{{/if}}>{{title}}</a>
      {{/each}}
    </nav>
  </section>
  {{else}}
  {{/if}}

    <div> {{!--[d.s] added links on the training videos in the sidebar and links on the main articles in the sub sections. Should be use only for articles from QuickStartguide section.  --}}
     <p>
    <strong class="ccs-static-title">Quick Start Guides</strong>
     </p>
      <ul>
	      <li class="">
	      <a href="/hc/en-us/articles/360041567532">DataSource Introduction</a>
	      </li>
	      <li class="">
	       <a href="/hc/en-us/articles/360041568832">Integration Guide </a>
	      </li>
      </ul>
      <p>
    <strong class="ccs-static-title">TRAINING VIDEOS</strong>
     </p>
      <ul>
	      <li class="">
	      <a href="https://cdn.cnetcontent.com/sites/video/extranet/introduction.mp4">Extranet Introduction</a>
	      </li>
	      <li class="">
	       <a href="https://cdn.cnetcontent.com/sites/video/extranet/account.mp4"> Your Account </a>
	      </li>
	      <li class="">
	      <a href="https://cdn.cnetcontent.com/sites/video/extranet/catalog.mp4">DataSource Catalog</a>
	      </li>
	      <li class="">
	      <a href="https://cdn.cnetcontent.com/sites/video/extranet/statistics.mp4">Statistics</a>
	     </li>
	      <li class="">
	     <a href="https://cdn.cnetcontent.com/sites/video/extranet/claims.mp4">Claims</a>
	     </li>
	     <li class="">
	     <a href="https://cdn.cnetcontent.com/sites/video/extranet/support.mp4">Support</a>
	     </li>
     </ul>
</div> {{!--[d.s] end  --}}

  {{!-- removed blocks with viewed articles
  {{#if settings.show_recently_viewed_articles}}
    {{recent_articles}}
  {{/if}}
--}}
</aside>
